.typewriter {
    display: inline-block;
    width: 500px;
    height: 150px;

    &__text {
        display: inline-block;
        cursor: default;
        // border-right: 8px solid;
        font-size: 60px;
        letter-spacing: 0.1px;
        width: 100%;
        // white-space: nowrap;
        padding-right: 10px;
        overflow: hidden;
        // animation: cursor 0.5s step-end infinite alternate;
        color: white;
    }
}

@keyframes typing {
    from {
        width: 0%;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
