.typo span {
    font-size: 160px;
    font-weight: bold;
    line-height: 5rem;
}

.typo span:last-child {
    animation: caret 0.5s step-end infinite alternate;
}

@keyframes caret {
    50% {
        color: #242424;
    }
}
