.main-page {
    width: 4460px;
    height: 2350px;
    display: "grid";
    place-items: "center";
    cursor: "default";
    padding: "0 60rem";
    overflow-x: hidden;
    background-color: white;
}
