.project-card {
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    padding: 100px 120px;
    cursor: pointer;

    &:hover {
        animation: selected 0.2s ease-in forwards;
    }

    img {
        border-radius: 100px;
        width: 100%;
        background-size: cover;
        margin-bottom: 20px;
        cursor: pointer;
    }
}

@keyframes selected {
    from {
        background-color: white;
    }
    to {
        background-color: #fff0d1;
    }
}
